# Twilio Configuration
TWILIO_ACCOUNT_SID= # Your Twilio Account SID
TWILIO_AUTH_TOKEN= # Your Twilio Authentication Token
TWILIO_WHATSAPP_NUMBER= # Your Twilio WhatsApp Number. Example: Input with same syntax as <whatsapp:+14155238886>

PORT=7777

PHONE_NUMBER_1= # Your first roommate number. Input with same syntax as <"whatsapp:+14155238886">
PHONE_NUMBER_2= # Your Second roommate number. Input with same syntax as <"whatsapp:+14155238886">
PHONE_NUMBER_3= # Your third roommate number. Input with same syntax as <"whatsapp:+14155238886">

NAME_1= # Input your friend's name here such as: <"Srikar">
NAME_2= # Input your friend's name here such as: <"Tarun">
NAME_3= # Input your friend's name here such as: <"Soorya">
# Add more phone numbers and names as needed